<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62892403455-4km91om1334bkq8aih39cvn57fn45ahu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62892403455-4km91om1334bkq8aih39cvn57fn45ahu</string>
	<key>API_KEY</key>
	<string>AIzaSyC6JnwSXZPXt9Ec48ry7iJFDocHCRdWGQA</string>
	<key>GCM_SENDER_ID</key>
	<string>62892403455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SSAC.SeSAC-Heritage</string>
	<key>PROJECT_ID</key>
	<string>jheritage-64545</string>
	<key>STORAGE_BUCKET</key>
	<string>jheritage-64545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62892403455:ios:328ff9be5762e6c16b7aca</string>
</dict>
</plist>